<% provide(:title, 'Is This Significant?')%>
<header>
	<h1>Is this Significant?</h1>
	<h2>The A/B Test Significance Calculator</h2>
</header>

<div class="entryarea">
</div>

<div class="resultarea">
</div>

<footer>
<p>This significance calculator uses a Chi-square test to see if we can attribute the result to chance or whether we can reject the null hypothesis.</p>
</footer>
<%# Add in the whole content of the page and view of the significance test%>
